<h1>
  Current Checkout:
</h1>
<div>
  <h2>
  </h2>
  <p>
    <strong>ID</strong>: {{checkout.id}}
  </p>
  <p>
    <strong>Status</strong>: {{checkout.status}}
  </p>
  
</div>
<a href="/authorized">
  <button>
  Go Home
  </button>
</a>
<a href="/checkouts/charge">
  <button>
  Charge $1.00
  </button>
</a>
<a href="/checkouts/list">
  <button>
  Read the current status of the checkout
  </button>
</a>

